* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-items: center;
    margin: 0;
    align-items: center;
    background-color: #ffffff;
}
textarea {
    resize: none;
    margin-top: 4px;
    border: 1px solid #ccc; /* 默认边框颜色 */
    outline: none;         /* 去掉默认的 outline */
    padding: 10px;
}
textarea:focus{
    border: 1px solid #007BFF; /* 焦点时的边框颜色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
    }
    #copy-svg {
        background-color: #1a1a1a;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
    #copy-svg {
        background-color: #1a1a1a;
    }
}

.container {
    text-align: center;
}

.translation-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-section {
    border: none;
    border-radius: 20px;
    padding: 5px;
}
.output-section {
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

#copy-svg {
    position: absolute;
    top: -22px;
    right: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
